body{
    background-color: #ff9900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(151, 228, 237);
}

.about_us{
    padding: 2px;
    background-color: #ccffff;
}

.offers{
    padding: 2px;
    background-color: rgb(151, 228, 237);
}

button{
    font-weight: bold;
    background-color: rgb(151, 228, 237);
    border-radius: 4px;
    border-color: rgb(80, 151, 159);
    text-align: center;
    cursor: pointer;
}
button:hover{
    background-color: rgb(80, 151, 159);
    border-color: rgb(151, 228, 237);
}

.rentals{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
}

.description{
    font-weight: bold;
}

.cool_buttons{
    font-weight: bold;
    background-color: rgb(151, 228, 237);
    border-radius: 4px;
    border-color: rgb(80, 151, 159);
    text-align: center;
    font-size: 36px;
}

.events{
    font-size: 36px;
}

.rental_page{
    background-color: rgb(151, 228, 237);
    padding: 2px;
}

.rental_items{
    list-style: none;
    padding: 0;
}

.rental_item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.rental_item img{
    max-width: 250px;
    border-radius: 4px;
}

.rental_item_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment_page{
    background-color: rgb(151, 228, 237);
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: rgb(80, 151, 159);
    padding: 2px;
    text-align: center;
}

.payment_form, .login_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.returns{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}

.footer{
    display:flex;
    align-items: center;
    padding: 10px;
}