body{
    background-color: rgb(255, 154, 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(151, 228, 237);
}

.about_us{
    padding: 2px;
    background-color: rgb(151, 228, 237);
}

.offers{
    padding: 2px;
    background-color: rgb(151, 228, 237);
}

button{
    font-weight: bold;
    background-color: rgb(151, 228, 237);
    border-radius: 4px;
    border-color: rgb(80, 151, 159);
    text-align: center;
}
button:hover{
    background-color: rgb(80, 151, 159);
    border-color: rgb(151, 228, 237);
}

.rentals{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
}

.description{
    font-weight: bold;
}

.cool_buttons{
    font-weight: bold;
    background-color: rgb(151, 228, 237);
    border-radius: 4px;
    border-color: rgb(80, 151, 159);
    text-align: center;
    font-size: 36px;
}

.events{
    font-size: 36px;
}